extends layout

block content
  if viewData
    h1= viewData.message
    h2= viewData.status
    if viewData.error && viewData.error.stack
      pre #{viewData.error.stack}
  else if error
    h1= error.message
    h2= error.status
    if error.stack
      pre #{error.stack}

